{% load static %}
<header id="header" class="header">
    <div class="header-top bg-white-f1 sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5">
                <li> <i class="fa fa-phone text-theme-colored"></i> Call Us at <a href="#">(+250)786-583-670</a> </li>
                <li> <i class="fa fa-envelope-o text-theme-colored"></i> <a href="#">studiojeremy2@gmail.com</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-circled icon-dark icon-theme-colored icon-sm pull-right flip sm-pull-none sm-text-center">
                <li><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
                <li><a href="{% url 'admin:index' %}"><i class="fa-solid fa-user"></i></a></li>


              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>