{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- index-sp-layout209:19-->
<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="LearnPress | Education & Courses HTML Template" />
<meta name="keywords" content="academy, course, education, education html theme, #, learning," />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css" integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<!-- Page Title -->
<title>:: image gallery::</title>



<!-- Favicon and Touch Icons -->
<link href="{% static 'images/ORG/log/log.png' %}" rel="shortcut icon" type="image/png">
<link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link href="{% static 'images/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon" sizes="72x72">
<link href="{% static 'images/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon" sizes="114x114">
<link href="{% static 'images/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="{% static 'css/esdras.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/css-plugin-collections.css' %}" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="{% static 'css/menuzord-skins/menuzord-rounded-boxed.css' %}" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="{% static 'css/style-main.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="{% static 'css/preloader.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="{% static 'css/custom-bootstrap-margin-padding.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- Revolution Slider 5.x CSS settings -->
<link  href="{% static 'js/revolution-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
<link  href="{% static 'js/revolution-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
<link  href="{% static 'js/revolution-slider/css/navigation.css' %}" rel="stylesheet" type="text/css"/>

<!-- CSS | Theme Color -->
<link href="{% static 'css/colors/theme-skin-color-set-1.css' %}" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="{% static 'js/jquery-plugin-collection.js' %}"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="{% static 'js/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'js/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<style>
  .dlection{
    list-style: none;
    display: inline-flex;
    gap: 100px;
    align-items: center;
  }
  .dlection li a{
    font-weight: bold;
    color: #065687;
    font-size: 17px;
  }
  .dlection li a:hover{
    text-decoration: underline;
  }
</style>
<body class="">
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <img alt="" src="{% static 'images/preloaders/8.gif' %}">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>
  {% include 'include_page/header.html' %}
  
    {% include 'include_page/navigation.html' %}

<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/ORG/log/innerheader.jpg' %}">
  <div class="container pt-70 pb-20">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-white text-center">Gallery ( Only Image )</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<header id="header" class="header">
  <div class="header-top bg-white-f1 sm-text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="widget no-border m-0">
            <ul class="dlection" >
              <li><a href="{% url 'image' %}">Images</a></li>
              <li><a href="{% url 'video' %}">Videos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>



      
    <!-- gallery start here -->
     <section style="font-family: Arial, sans-serif; text-align: center;"  >
        <h2 style="color: #333;  ">Gallery Image </h2>
          {% if images %}


        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            {% for image in images %}

          <div class="image-container" style="margin: 10px; border: 1px solid #ccc; width: 500px; height: 400px; overflow: hidden; position: relative;">
            <img src="{{ image.imagefile.url }}" alt="{{ image.name }}" style="width: 100%; height: 100%; object-fit: cover; transition: transform 0.3s ease;" onclick="toggleContent(this)">
            <div class="content" style="display: none; background-color: rgba(0, 0, 0, 0.5); color: white; position: absolute; bottom: 0; width: 100%; text-align: left; padding: 10px;">
              <h4 style="font-weight: bold; color: white;">{{ image.name }}</h4>
              <p style="font-weight: bold;" >{{ image.description }}</p>
              <data style="font-weight: bold;" >{{ image.date }}</data>
              <div style="margin-top: 20px;">
                <!-- Download Icon -->
                <a download href="{{ image.imagefile.url }}">
                    <i class="fa-solid fa-download" style="color: blue; font-size: 24px; padding: 10px;"></i>
                </a>
                <!-- View Icon -->
                <a target="_blank" href="{{ image.imagefile.url }}">
                    <i class="fa-solid fa-eye" style="color: green; font-size: 24px; padding: 10px;"></i>
                </a>

            </div>
            </div>
        </div>
            {% endfor %}
         </div>
      
    {% else %}
        <p>No images </p>
    {% endif %}
      <script>
          document.querySelectorAll('.image-container img').forEach(img => {
              img.addEventListener('mouseover', function() {
                  this.style.transform = 'scale(1.1)';
              });
              img.addEventListener('mouseout', function() {
                  this.style.transform = 'scale(1)';
              });
          });
  
          function toggleContent(img) {
              const content = img.nextElementSibling;
              if (content.style.display === 'block') {
                  content.style.display = 'none';
              } else {
                  content.style.display = 'block';
              }
          }
      </script>
     </section>
    </div>

    <script>
        function toggleContent(video) {
            const content = video.nextElementSibling;
            if (content.style.display === 'block') {
                content.style.display = 'none';
            } else {
                content.style.display = 'block';
            }
        }
    </script>
     </section>
            
            </div>
          </div>
        </div>
      </div>
    </section>        

 
  
    {% include 'include_page/footer.html' %}
  
</div>
<!-- end wrapper --> 

<!-- Footer Scripts --> 
<!-- JS | Custom script for all pages --> 
<script src="{% static 'js/custom.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) --> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.actions.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.migration.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.video.min.js' %}"></script>
</body>

<!-- index-sp-layout209:19-->
</html>