{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- index-sp-layout209:19-->
<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="LearnPress | Education & Courses HTML Template" />
<meta name="keywords" content="academy, course, education, education html theme, #, learning," />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css" integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<!-- Page Title -->
<title>::Jeremystidio::</title>



<!-- Favicon and Touch Icons -->
<link href="{% static 'images/ORG/log/log.png' %}" rel="shortcut icon" type="image/png">
<link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link href="{% static 'images/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon" sizes="72x72">
<link href="{% static 'images/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon" sizes="114x114">
<link href="{% static 'images/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="{% static 'css/esdras.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/css-plugin-collections.css' %}" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="{% static 'css/menuzord-skins/menuzord-rounded-boxed.css' %}" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="{% static 'css/style-main.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="{% static 'css/preloader.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="{% static 'css/custom-bootstrap-margin-padding.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- Revolution Slider 5.x CSS settings -->
<link  href="{% static 'js/revolution-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
<link  href="{% static 'js/revolution-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
<link  href="{% static 'js/revolution-slider/css/navigation.css' %}" rel="stylesheet" type="text/css"/>

<!-- CSS | Theme Color -->
<link href="{% static 'css/colors/theme-skin-color-set-1.css' %}" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="{% static 'js/jquery-plugin-collection.js' %}"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="{% static 'js/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'js/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
  .dlection{
    list-style: none;
    display: inline-flex;
    gap: 100px;
    align-items: center;
  }
  .dlection li a{
    font-weight: bold;
    color: #065687;
    font-size: 17px;
  }
  .dlection li a:hover{
    text-decoration: underline;
  }
</style>
</head>
<body class="">
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <img alt="" src="{% static 'images/preloaders/8.gif' %}">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div>
  {% include 'include_page/header.html' %}
  
<!-- navigation part  -->
{% include 'include_page/navigation.html' %}


<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="{% static 'images/ORG/log/innerheader.jpg' %}">
  <div class="container pt-70 pb-20">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-white text-center">Customers producct ( Download yours )</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<header id="header" class="header">
  <div class="header-top bg-white-f1 sm-text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="widget no-border m-0">
            <ul class="dlection" >
              <li><a href="{% url 'mycustomer' %}">Images</a></li>
              <li><a href="{% url 'customervideos' %}">Videos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
<section style="display: flex; flex-direction: column; align-items: center; padding: 10px;">
  <h2 style="font-size: 10px; margin-bottom: 5px;">Copy the link and share it with the customer</h2>
  <button onclick="copyToClipboard()" style="padding: 5px 60px; background-color: #065687; color: white; border: none; border-radius: 5px; cursor: pointer;">Copy Link</button>
  <p id="pageLink" style="margin-top: 10px;"></p>
</section>

<script>
  function copyToClipboard() {
    const link = window.location.href;
    const tempInput = document.createElement('input');
    tempInput.value = link;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);

    // Optional: Display a success message
    alert('Link copied to clipboard!');
  }
  function generateLink() {
      var link = window.location.href;
      document.getElementById("pageLink").textContent = link;
  }
</script>

<!-- body -->

<section>
  <div class="container">
      <div class="col-md-9 blog-pull-right">
          <!-- Loop through each customer -->
          {% for customer in customers %}
              <div class="row mb-10">
                  <div class="col-sm-6 col-md-8">
                    <hr style="border: none; border-top: 2px solid #000; height: 1px; background: #000;">
                      <!-- Customer name -->
                      <h4>{{ customer.full_name }}</h4>

                      <!-- Display number of products -->
                       
                      <div>
                          <strong>Number of Products:</strong> {{ customer.products.count }}
                      </div>

                      <hr style="border: none; border-top: 2px solid #000; height: 1px; background: #000;">

                      <ul class="review_text">
                          <!-- Display products associated with the customer -->
                          {% if customer.products.exists %}
                              {% for product in customer.products.all %}
                                  <li>
                                      <h4 class="mt-0">
                                          <span class="text-theme-color-1">{{ product.created_date }}</span>
                                      </h4>
                                      <div>
                                          <!-- Image link -->
                                          <a href="{{ product.image_file.url }}" class="text-theme-color-2" target="_blank">View Image</a>
                                      </div>
                                      <!-- Description -->
                                      <p>{{ product.description }}</p>
                                      <!-- Download link for the image -->
                                      <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="{{ product.image_file.url }}" download>Download</a>
                                  </li>
                              {% empty %}
                                  <li>No Image available for {{ customer.full_name }}</li>
                              {% endfor %}
                          {% else %}
                              <li>No Image available for {{ customer.full_name }}</li>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          {% empty %}
              <p>No customers available.</p>
          {% endfor %}
      </div>
  </div>
</section>


        
      </div>
      </div>
</section>
</div>
<!-- end main-content -->


<!-- end body -->
  
{% include 'include_page/footer.html' %}
  
  
  
</div>
<!-- end wrapper --> 

<!-- Footer Scripts --> 
<!-- JS | Custom script for all pages --> 
<script src="{% static 'js/custom.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) --> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.actions.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.carousel.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.migration.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.navigation.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.parallax.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/revolution-slider/js/extensions/revolution.extension.video.min.js' %}"></script>
</body>

<!-- index-sp-layout209:19-->
</html>